.DS_Store
__pycache__/
catboost_info/
**/**.pt
**/**.ipynb
!agg_results.ipynb
**/**.npy
**/**.gz
**/**.sh
**/**.obj
**/**.png
**/**.tar
**/**.code-workspace
exp/**/**/results_catboost.json
exp/**/**/results_mlp.json
.vscode/
.ipynb_checkpoints/

data/
junk/
RF/
exps/
